*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;

}
.nav__responsive-ul{
    display: none;
}
.navbar{
    background-color: rgb(186, 137, 101);
}
.nav__li{
    display: inline-block;
    padding: 2px;
    color: #e9d5c4;
}
.nav__li a{
    color: #e9d5c4;
    text-decoration: none;
}
.nav__li i{
    text-align: right;
}
.nav__responsive-button-container{
    position: absolute;
    width: 100%;
    font-size: 20px;
    margin-top: -45px;
}
.nav__responsive-button{
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}

.imagefooter{
    max-width: 100%;
    height: auto;
}
.topimage{
    width: 100%;
    height: auto;
}
.gridmain{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}
.grid-col-span-2{
    grid-column:span 2;
}
.grid-col-span-3{
    grid-column:span 3;
}
.h1_col_area{
    grid-column-start: 1;
    grid-column-end: 1;
}
.mainimg{
    width: 100%;
}

@media only screen and (max-width: 605px) {
    .nav__ul {
        display: none;
    }
    .navbar {
        height: 45px;
        width: 100%;
    }
    .nav__responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 45px;
        height: 45px;
    }
    .nav__li-container{
        position: relative;
        top: -1000px;
        height: calc(100vh - 45px);
        background: rgb(186, 137, 101);
        transition: all 2s;
        z-index: 1;
        width: 80%;
    }
    .nav__responsive-li{
        width: 100%;
        padding: 5px 15px;
}
    .nav__responsive-li i{
        text-align: center;
        margin-right: 10px;
        width: 30px;
        color: #e9d5c4;
}
    .nav__responsive-li a{
        color: #e9d5c4;
        text-decoration: none;
}
    .nav__responsive-ul:hover > .nav__li-container{
        top: 0;
    }
}

