*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inknut Antiqua', serif;

}


.gridmain{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(200,174,88,1) 49%, rgba(250,247,241,1) 100%);
}
.grid-col-span-2{
    padding: 15px;
    grid-column:span 3;
    text-align: start;
}
.grid-col-span-3{
    grid-column:span 3;
}
.h1_col_area{
    grid-column:span 3;
    text-align: center;
}
.mainimg{
    margin: auto;
    width: 100%;
    grid-column:span 3
}
.formcontainer{
    padding: 15px;
    grid-column:span 3;
    text-align: center;
}

@media
    (min-width: 800px)
    {
    .mainimg{
        margin: auto;
        width: 50%;
        grid-column:span 3;
    }
    .formcontainer{
width: 50%;
margin: auto;
}

